# Кэш и временные файлы Python
__pycache__/
*.py[cod]

# Лог-файлы
*.log

# Виртуальное окружение
venv/

# Переменные среды, пароли, ключи
.env

# Настройки VS Code
.vscode/

# Системные файлы (для Mac и Windows)
.DS_Store
Thumbs.db